.input {
  font-size: 20px;
  line-height: 120%;
  border: 1px solid rgba(23, 23, 25, 0.2);
  color: var(--dark);
  padding: 11px 14px;
  border-radius: 5px;
  outline: none;
  transition: all ease-in-out 0.1s;
  width: 100%;
  background-color: transparent;
}

.input::placeholder {
  color: inherit;
  opacity: 0.3;
}

.input:hover {
  background: rgba(197, 228, 249, 0.1);
  border: 1px solid var(--siberian-blue);
}

.input:focus {
  background: rgba(197, 228, 249, 0.3);
  border: 1px solid var(--siberian-blue);
  opacity: 1;
}

.input:disabled {
  background: #fafafa;
  border: 1px solid rgba(23, 23, 25, 0.1) !important;
  color: rgba(var(--dark-rgb), 0.6);
}

.input_disabled::placeholder,
.input:disabled::placeholder {
  color: #171719;
}

.input_error {
  color: var(--red);
  background: rgba(235, 87, 87, 0.1) !important;
  border: 1px solid var(--red) !important;
}

.input_error::placeholder {
  opacity: 0.6;
}
