.options-list {
  margin-top: 22px;
  width: 367px;
  margin-left: auto;
}

.options-list__button {
  width: 100%;
}

.options-list-item {
  position: relative;
  margin-bottom: 20px;
}

.options-list-item__cross {
  position: absolute;
  top: 12px;
  right: 12px;
  filter: invert(85%) sepia(1%) saturate(0%) hue-rotate(15deg) brightness(92%)
    contrast(95%);
}

.options-list-item .form-item:not(:last-child) {
  margin-bottom: 0.5rem;
}
