.switch-container {
  display: flex;
  column-gap: 20px;
}

.switch {
  width: 35px;
  height: 22px;
  border-radius: 19px;
  background: var(--gray);
  cursor: pointer;
  position: relative;
  border: 0;
  padding: 0;
  outline: none;
  transition: background ease-in-out 0.2s;
}

.switch_checked {
  background: var(--siberian-blue);
}

.switch_disabled {
  opacity: 0.2;
}

.switch_disabled-checked {
  opacity: 0.1;
}

.switch__indicator {
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  top: 3px;
  left: 3px;
  transition: all 0.1s ease-in;
}

.switch__indicator_checked {
  left: calc(100% - (1rem + 3px)); /* for transition */
}
