.select {
  font-size: 20px;
  line-height: 120%;
  position: relative;
}

.select__header {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
  padding: 11px 15px;
  cursor: pointer;
  border: 1px solid rgba(23, 23, 25, 0.3);
  border-radius: 5px;
}

.select__header_opened {
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: var(--siberian-blue);
}

.select__placeholder {
  flex: 1;
  opacity: 0.3;
}

.select__value {
  flex: 1;
}

.select__body {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid var(--siberian-blue);
  border-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: white;
  z-index: 1;
}

.select__body::after {
  content: "";
  height: 1px;
  background: rgba(23, 23, 25, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.select__option {
  padding: 11px 14px;
  cursor: pointer;
  transition: all ease-in-out 0.1s;
}

.select__option:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.select__option:hover {
  background: rgba(197, 228, 249, 0.1);
}

.select__option_active {
  background: rgba(197, 228, 249, 0.3);
}
