.schema-name {
  width: 422px;
  margin-bottom: 30px !important;
}

.schema-fields {
  margin-top: 40px;
}

.schema-fields__subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  color: black;
  opacity: 0.5;
  margin-top: 0.5rem;
}

.schema-fields__accordion {
  margin-top: 20px;
  margin-bottom: 42px;
}

.schema-fields__controls {
  display: flex;
  justify-content: space-between;
}
