.navbar-container {
  background: #ffffff;
  padding: 1rem;
  border-bottom: 1px solid #f1f1f1;
}

.navbar {
  margin: auto;
  width: 1040px;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
}

.navbar-links__group {
  display: flex;
  column-gap: 40px;
  align-items: center;
}

.navbar__link {
  cursor: pointer;
  font-size: 18px;
  line-height: 156%;
  color: var(--siberian-blue);
  text-decoration: none;
  position: relative;
}

.navbar__link_active::after {
  content: "";
  display: block;
  width: 80%;
  height: 2px;
  position: absolute;
  top: calc(100% + 25px);
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--siberian-blue);
}
