.checkbox-container {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.checkbox {
  position: relative;
  color: var(--siberian-blue);
}

.checkbox_disabled {
  color: var(--gray);
  opacity: 0.3;
}

.checkbox__input {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}

.checkbox__control {
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  border: 2px solid currentColor;
  opacity: 0.3;
}

.checkbox__checkmark {
  top: 50%;
  left: 50%;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
}

.checkbox__input:checked ~ .checkbox__checkmark {
  opacity: 1;
}

.checkbox__input:checked ~ .checkbox__control {
  border: 0;
  width: 20px;
  height: 20px;
  background-color: currentColor;
  opacity: 1;
}
