.schema-page__container {
  background-color: white;
  border-radius: 5px;
  padding: 36px;
}

.schema-page-form {
  width: 561px;
}

.schema-page-form__title {
  margin-bottom: 20px;
}

.schema-page-form__controls {
  margin-top: 20px;
  width: 100%;
}

.schema-page-form__alert {
  margin-top: 20px;
}
