@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
  --dark: #272727;
  --dark-rgb: 39, 39, 39;
  --siberian-blue: #1390e5;
  --gray: #1717194d;
  --red: #eb5757;
  --green: #00a241;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.divider {
  width: 100%;
  height: 1px;
  background: #c4c4c4;
}

.heading-2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 143%;
  color: black;
  margin: 0;
}

.container {
  min-height: 100vh;
  height: 100%;
  background-color: #fafafa;
}

.content {
  width: 1040px;
  margin: 0 auto;
  padding: 40px 0;
}
